.heading{
    background-color: purple;
    color: whitesmoke;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 550px;
    background-color: #921b9f;
    color: black;
    box-sizing: border-box;
    position: fixed;
}

.content {
    margin-left: 300px;
}
li{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: whitesmoke;
}